@import './base.css';
@import './adobe-fonts.css';

#app {
  margin: 0;
}

h1 {
  font-family: new-science-extended, sans-serif;
  font-weight: 600;
  font-style: normal;
  letter-spacing: normal;
}
h2 {
  font-family: new-science, sans-serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
}
h3 {
  font-family: new-science, sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
}
h4 {
  font-family: akzidenz-grotesk-next-pro, sans-serif;
  font-weight: 700;
  font-style: italic;
  letter-spacing: normal;
}
h5 {
  font-family: akzidenz-grotesk-next-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
}
h6 {
  font-family: akzidenz-grotesk-next-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
}
p {
  font-family: akzidenz-grotesk-next-pro, sans-serif;
  font-weight: 100;
  font-style: normal;
  letter-spacing: normal;
}

/* DEFAULT STYLES */
.df-pad {
  padding-left: 1em;
  padding-right: 1em;
}
.main-content {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: auto;
}
.main-content .clickable {
  pointer-events: visible;
}
.button {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  width: fit-content;
  font-family: akzidenz-grotesk-next-pro, sans-serif;
  font-weight: 300;
  font-style: normal;
  backdrop-filter: blur(10px);
  background-color: var(--nero);
  color: var(--blanco);
}
.button p {
  color: var(--blanco) !important;
}
.circle {
  width: 1em;
  height: 1em;
  border: 1px solid var(--blanco);
  border-radius: 50%;
  margin-left: 1em;
}
.dot {
  width: 4px;
  height: 4px;
  background-color: var(--blanco);
  border-radius: 50%;
  margin-left: 0.5em;
}
.contact-open {
  cursor: pointer !important;
}
/* TABLET 2 [GLOBAL] */
@media (min-width: 1000px) {
  .df-pad {
    padding-left: 4em;
    padding-right: 4em;
  }
}

@media (min-width: 1280px) {
  .main-content {
    pointer-events: none !important;
  }
  .df-pad {
    padding-left: 4em;
    padding-right: 4em;
  }
  .circle {
    width: 1.5em;
    height: 1.5em;
    border-width: 2px;
  }
}
